# Stephen Nolan


# VI-mode for GNU readline (which bash uses)
set editing-mode vi

$if mode=vi

    # C-l clear screen even in insert mode
    set keymap vi-command
    Control-l: clear-screen

    # C-p previous history item even in insert mode
    set keymap vi-insert
    Control-p: previous-history 

    # C-n next history item even in insert mode
    set keymap vi-insert
    Control-n: next-history 

$endif
